.logo-p-11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 88px;
  left: 74px;
  border-radius: var(--br-61xl);
  width: 279px;
  height: 339px;
  background-image: url(./public/logop1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.main-screen2-child {
  position: absolute;
  height: 3.65%;
  width: 64.19%;
  top: 88.73%;
  right: 16.51%;
  bottom: 7.62%;
  left: 19.3%;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login,
.welcome-to-ju1 {
  position: absolute;
  display: inline-block;
}
.login {
  height: 2.47%;
  width: 12.79%;
  top: 89.38%;
  left: 43.26%;
  font-weight: 300;
}
.welcome-to-ju1 {
  height: 4.18%;
  width: 67.21%;
  top: 45.82%;
  left: 22.56%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-quattrocento);
  color: var(--color-dimgray-100);
}
.main-screen2-item {
  position: absolute;
  height: 3.76%;
  width: 64.19%;
  top: 92.38%;
  right: 16.51%;
  bottom: 3.86%;
  left: 19.3%;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sign-up {
  position: absolute;
  height: 2.36%;
  width: 17.21%;
  top: 93.13%;
  left: 41.4%;
  font-weight: 300;
  color: var(--color-darkslateblue);
  display: inline-block;
}
.main-screen2 {
  position: relative;
  background-color: var(--color-goldenrod);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
