.logo-p-1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 88px;
  left: 74px;
  border-radius: var(--br-61xl);
  width: 279px;
  height: 339px;
  background-image: url(./public/logop1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.welcome-to-ju {
  position: absolute;
  height: 4.18%;
  width: 67.21%;
  top: 45.82%;
  left: 22.56%;
  display: inline-block;
}
.main-screen {
  position: relative;
  background-color: var(--color-goldenrod);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 932px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-dimgray-100);
  font-family: var(--font-quattrocento);
}
