.logo-p-23 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 58px;
  left: 76px;
  border-radius: var(--br-61xl);
  width: 279px;
  height: 339px;
  background-image: url(./public/logop1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.placeholder {
  position: relative;
  font-weight: 500;
}
.input,
.inputs {
  display: flex;
  justify-content: flex-start;
}
.input {
  border-radius: 10px;
  background-color: #f1f4ff;
  border: 2px solid #1f41bb;
  box-sizing: border-box;
  width: 357px;
  flex-direction: row;
  padding: var(--padding-xl) 35px var(--padding-xl) var(--padding-xl);
  align-items: center;
}
.inputs {
  position: absolute;
  top: 483px;
  left: 45px;
  flex-direction: column;
  align-items: flex-start;
}
.ju-avail3 {
  position: absolute;
  height: 3.54%;
  width: 26.28%;
  top: 42.6%;
  left: 40.93%;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-quattrocento);
  color: var(--color-dimgray-100);
  text-align: left;
}
.shadow5 {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 121px);
  border-radius: 6.09px;
  background-color: var(--color-gray-200);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
  width: 241px;
  height: 71px;
}
.smash-it5 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170.22px;
  height: 42.55px;
  flex-shrink: 0;
}
.button5 {
  position: absolute;
  top: calc(50% - 36.1px);
  left: calc(50% - 122.02px);
  border-radius: 6.08px;
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(255, 255, 255, 0),
      rgba(189, 138, 184, 0.3)
    ),
    #3434b9;
  box-shadow: 0-5px 0#313686 inset;
  width: 244px;
  display: flex;
  flex-direction: row;
  padding: 15.198019981384277px 36.475250244140625px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-transitions1 {
  position: absolute;
  top: 527px;
  left: 74px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.sign-in-page {
  position: relative;
  background-color: var(--color-goldenrod);
  width: 100%;
  height: 932px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #626262;
  font-family: var(--font-poppins);
}
